@CHARSET "UTF-8";

body {
	font-size: 1.2em;
}

.error {
	color: red;
}

a.listField {
	text-decoration: none;
}

a.listField:hover {
	text-decoration: none;
}

input[type="text"] {
	font-size: 1em;
	padding: 8px;
	margin: 3px;
	width: 10em;
}

input[type="text"].listField {
	width: calc(100% - 2em - 4em);
	cursor: pointer;
}

input[type="password"] {
	font-size: 1em;
	padding: 8px;
	margin: 3px;
	width: 10em;
}

input[type="submit"] {
	border: none;
	background-color: #00AA66;
	color: white;
	padding: 8px;
	margin: 3px;
	font-size: 1em;
	width: 8em;
	cursor: pointer;
}

input[type="submit"].delete {
	background-color: #CC0000;
	width: auto;
}

input[disabled] {
	border-style: solid;
	background: transparent;
	color: #000;
}

input[readonly] {
	border-style: solid;
	background: transparent;
	color: #000;
}

label.numbered {
	width: 1em;
}

input[type="submit"].bought {
	background-color: transparent;
	border: 2pt solid #f1f1f1;
	text-decoration: line-through;
	color: green;
	width: calc(100% - 2em);
}

input[type="submit"].unbought {
	background-color: transparent;
	border: 2pt solid #f1f1f1;
	color:black;
	width: calc(100% - 2em);
}